* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

.img-container {
  position: relative;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
