@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Gloock", serif;
  --color-primary-light: rgb(210, 192, 180);
  --color-primary: rgb(243, 238, 234);
  --color-primary-dark: rgb(218, 208, 197);
  --color-primary-xDark: rgb(128, 107, 86);
  --color-primary-xxDark: rgb(104, 86, 72);
  --color-secondary: rgb(139, 128, 125);
}
